.list {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(154px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  & li {
    align-self: end;
    // width: 100%;
    // height: 100%;
  }
}
